@import "src/styles";

table {
    width: 100%;
}

.hovered {
    background-color: $light-gray;
}

.highlighted {
    background-color: $light-yellow;
}

.button__section {
    padding-top: 1rem;
    button {
        width: 200px;
    }
}

::ng-deep {
    .mat-header-cell {
        font-size: $font-size-normal !important;
        &.text-center { text-align: center; }
    }
}
