<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- Categories Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Categories </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        
        <!-- Keywords Column -->
        <ng-container matColumnDef="keywords">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Keywords </th>
            <td mat-cell *matCellDef="let elements">
                <span *ngFor="let element of elements.keywords">
                    <keyword [data]="element"></keyword>
                </span>
            </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="accent" (click)="onAddClick($event, element.id)">
                    <mat-icon>add</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)" 
            [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
        </tr>
        
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [pageSize]="10"></mat-paginator>
</div>
<div *ngIf="isVisible" class="button__section button--yellow button--center">
    <button mat-raised-button (click)="deleteCateogry()">
        <mat-icon>delete</mat-icon>
            Delete selected category
    </button>
</div>
