//FONTS
$font-family-global: Roboto, "Helvetica Neue", sans-serif;
$font-size-normal: 15px;
$font-size-large: 30px;

//ICONS
$icon-size: 24px;

//COLORS
$yellow: #F5D43E;
$light-yellow: #fff59d;
$light-gray: #eeeeee;