<main>
    <div class="button__section button--gray button--right">
        <button mat-raised-button (click)="addNewCateogry()">
            <mat-icon>add</mat-icon>
                Add category
        </button>
    </div>
    <grid class="grid__section"></grid>
</main>