<div mat-dialog-content>
    <form>
        <mat-form-field>
            <mat-label>Keyword name</mat-label>
            <input tabindex="-1" matInput [formControl]="formControl">
            <mat-error *ngIf="formControl.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="!isValid">
                Name must be unique
            </mat-error>
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onAddClick()" [disabled]="!formControl.valid || (loading$ | async)">Add</button>
</mat-dialog-actions>