@import "src/styles";

header {
    width: 100%;
    background-color: $yellow;
}

h1 {
    padding: 15px;
    font-size: $font-size-large;
    text-align: center;
    box-shadow: 0 10px 8px lightgray;
    font-weight: bold;
}