@import "src/styles";

.keyword-button {
    margin: 2px 10px 2px 0;
    border-radius: 20px;
    border: 2px solid $yellow;

    ::ng-deep {
        .mat-button-wrapper {
            margin: 0 2px !important;
        }
    }
}