.button__section {        
    width: 100%;
    display: flex;
    .mat-raised-button {
        border-radius: 20px;
    }
}

.button--right {
    justify-content: flex-end;
}

.button--center {
    justify-content: center;
}

.button--gray {
    .mat-raised-button {
        background-color: $light-gray;
    }
}

.button--yellow {
    .mat-raised-button {
        background-color: $yellow;
    }
}