<div mat-dialog-content>
    <mat-label *ngIf="data.type === dataType.Category">Do you want to delete category: {{data.name}}</mat-label>
    <mat-label *ngIf="data.type === dataType.Keyword">Do you want to delete keyword: {{data.name}}</mat-label>
</div>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">No</button>
    <button mat-button (click)="onRemoveClick()" cdkFocusInitial>Yes</button>
</mat-dialog-actions>